extends layout

block content
  ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
      a(href='#editor') Editor
    li(role='presentation')
      a(href='#preview') Preview

  div.tab-content
    div.tab-pane.active.fade.in(role='tabpanel', id='editor')
      p
      form#navigation.form-horizontal(method='post', action='#{url}')
        div.form-group
          div#editor
            textarea#markdown.form-control(rows='15', name='markdown', v-model='input', debounce='300') #{markdown}
        div.form-group
          div.col-md-10
            input#filepath(type='hidden', name='filepath', value='#{filepath}')
          div.col-md-1
            button#submit.btn.btn-primary(type='submit', name='submit', value='submit') Save
          div.col-md-1
            a#cancel.btn.btn-default(href='/') Cancel

    div.tab-pane.fade(role='tabpanel', id='preview')
      p
      div#md_container(v-html='input | marked')

  script(src='/js/marked.js')
