extends layout

block content
  ul.nav.nav-tabs(role='tablist')
    li.active(role='presentation')
      a(href='#editor') Editor
    li(role='presentation')
      a(href='#preview') Preview

  div.tab-content
    div#editor.tab-pane.active.fade.in(role='tabpanel')
      p
      form#navigation.form-horizontal(method='post', action='#{url}')
        div.form-group
          div.col-sm-10
            input#filepath(type='hidden', name='filepath', value='#{filepath}')
          div.col-sm-2.btn.btn-group
            button#submit.btn.btn-primary(type='submit', name='submit', value='submit') Save
            a#cancel.btn.btn-default(href='/') Cancel
        div.form-group
          div#editor
            textarea#markdown.form-control(rows='15', name='markdown') #{markdown}

    div#preview.tab-pane.fade(role='tabpanel')
      p
      div#md_container

  script(src='/js/marked.js')
