doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/github-markdown.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-submenu.min.css')
    script(src="/javascripts/jquery.min.js")
    script(src="/javascripts/bootstrap.min.js")
    script(src="/javascripts/bootstrap-submenu.min.js")
  body
    div(class="container")
      block menu
    div(class="container")
      block content
    script $('[data-submenu]').submenupicker();
