doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/theme/#{theme}/style.css')
    link(rel='stylesheet', href='/css/style.css')
  body
    div.container
      div.row
        nav.navbar.navbar-default.navbar-fixed-top
          div.container
            div.navbar-header
              a.navbar-brand(href='/') #{title}
            div.collapse.navbar-collapse
              |!{navHtml}
      div.row
        block content
      div#footer.row
          nav.navbar.navbar-default.navbar-fixed-bottom
            div.container
              div.collapse.navbar-collapse
                ul
                  li
                    a(href='/settings') Settings
                ul.nav.navbar-nav.navbar-right
                  li
                    a(href='/credits.md') Credits
                  li
                    a(href='http://oliverflint.github.io/') Crafted by Oliver Flint
    script(src='/js/jquery-2.1.4.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/rawdeflate.js')
    script(src='/js/jquery_plantuml.js')
    script(src='/js/raphael-min.js')
    script(src='/js/flowchart.js')
    script(src='/js/miki.js')
