extends layout

block menu
  div(class="row")
    div(class="col-md-10")
      |!{menu}

block content
  div(class="row")
    div(class="col-md-8")
      |&nbsp;
    div(class="col-md-4")
      a(href='/edit#{url}', class='btn btn-default') Edit
      |&nbsp;
      a(href='/edit/new', class='btn btn-default') New
  div(class="row")
    div(class="col-md-10")
      article(class="markdown-body")
        |!{markdown}
